.App {
  text-align: center;
  background-image: linear-gradient(#ffeef8, #ffffff);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.modal-content {
  background-color: #fff !important;
  width: 500px !important;
}

.navbar {
  padding: 12px 20px !important;
}

.nav-item {
  padding: 8px 16px;
  font-size: 18px;
}

.active {
  font-weight: 600 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
